<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<body>


<h:form>

    Angiv antallet af vers:
    <h:inputText id="inputVerses" value="#{beerSongSession.verses}" required="true" requiredMessage="Indtast antal vers" validatorMessage="Angiv et tal mellem 1 og 99">
        <f:validateLongRange minimum="1" maximum="99"/>
    </h:inputText>


    <h:message for="inputVerses"></h:message>
    <h:commandButton value="Vis sang" action="#{beerSongSession.makeSong}"></h:commandButton>
</h:form>

</body>

</html>
