<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>

Her er din sang med #{beerSongSession.verses} vers: <br/><br/>

<ui:repeat value="#{beerSongSession.song}" var="item" varStatus="x">

    #{item}<br/><br/>

    99 bottles of beer on the wall, 99 bottles of beer.
    Take one down and pass it around, 98 bottles of beer on the wall.
   <!-- <ui:composition template="vers.xhtml">
        <ui:param name="p_item" value="#{item}"/>
    </ui:composition>
-->
    <br/>

    <ui:fragment rendered="#{x.index % 2 == 1}">
        SKÅÅÅÅL
        <hr/>
    </ui:fragment>
</ui:repeat>

</body>
</html>
