body{
    background-color: gainsboro;
}

table, th, td {
    border: 1px solid black;
}

table td {
    width: 100px;
}

table #descriptionTD {
    width: 200px;
}
table {
    border-collapse: collapse;
}