.dropShop{
    width: 300px;
}

#shopTable{
    border: 1px solid black;
    border-collapse: collapse;
}

#shopTable #shopDescription {
    width: 200px;
}

#butikTable{
    border-collapse: collapse;
}

.linkButton{
    text-align: left;
    width: 400px;
    padding: 0!important;
    border: none;
    font: inherit;
}

#butikTable thead{
    display: block;
}

#butikTable tbody{
    display: block;
}

#butikDiv{
    max-height: 200px;
    max-width: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #666666;
    box-shadow: 4px 4px 2px #666666;
}

.linkButton:hover{
    background-color: #666666;
    cursor: hand;
}

.shopTD{
    visibility: hidden;
}

#shopTable th {
    border: 1px solid black;
}

#shopTable td {
    border: 1px solid black;
    width: 100px;
}

.shopContent {
    background-color: gainsboro;
    border: 1px solid grey;
}

.shopContent a:hover{
    background-color: #999999;
}

.show {display:block;}