body{
    background-color: white;
}

p {
    margin: 0;
    font-size: 14px;
    color: aliceblue;
}

h1{
    margin: 0;
    color: darkred;
}

header {
    margin:auto;
    font-size: 30px;
    background: url("img/Header.png");
    text-align: center;
    width: 1024px;
    height: 150px;
    line-height: 150px;
}

.headerwrap {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.menu {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.icon{
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    size: 16px;
}

nav {
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: gainsboro;
    width: 1024px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding-left: 0;
}

nav li a {
    text-decoration: none;
    color: #666666;
}

nav li a:hover{
    text-decoration: none;
    color: #bfbfbf;
}

#glamour{
    color: white;
    font-family: "DejaVu Sans Mono", "Times New Roman", sans-serif;
    vertical-align: middle;
}

.banner{
    padding-bottom: 20px;
    margin: auto;
    width: 1024px;
    height: 700px;
}
main {
    margin: auto;
    background-color: #d9d9d9;
    width: 1024px;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
    background-color: gainsboro;
}

.imgWrap {
    position: relative;
}

.imgDescription {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(43, 43, 43, 0.50);
    color: #fff;
    visibility: hidden;
    opacity: 0;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
}

.billede{
    height: 400px;
    width: 500px
}

footer {
    margin:auto;
    height: 30px;
    background-color: #999999;
    width: 1024px;
}

footer table {
    margin: auto;
}

footer table th{
    padding-left: 40px;
}
