<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:w="http://java.sun.com/jsf/html"
                template="template.xhtml">
    <ui:define name="content">


Angiv et navn for dit kommende produkt, og tryk "Submit" for at fortsætte. <br/><br/>

        <h:form>
            <h:outputLabel for="createText">Produkt Navn:</h:outputLabel>
            <h:inputText id="createText" value="#{myBean.itemName}" required="true"
                         requiredMessage="Du skal angive et navn til dit nyt produkt."/>
            <h:message for="createText"/>
            <h:commandButton value="Submit" action="#{myBean.createItem}"/>
        </h:form>
        <h:form>
            <h:commandButton value="Back" action="#{myBean.back}"/>
        </h:form>

    </ui:define>
</ui:composition>
