<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:w="http://java.sun.com/jsf/html"
                template="template.xhtml">
    <h:head>
        <h:link rel="stylesheet" type="text/css" href="style.css"/>
    </h:head>

    <ui:define name="content">

        <!-- TODO: fix itemDescription så den konverterer xml-tags til html-tags. -->
        Overview (med en liste af alle items)<br/><br/>

        <h:form>
            <w:commandButton value="Create new item" action="#{myBean.create}"></w:commandButton>
        </h:form><br/>

        <h:dataTable var="o" value="#{myBean.items}">
            <h:column>
                <f:facet name="header">Produkt navn</f:facet>
                #{o.name}
            </h:column>

            <h:column>
                <f:facet name="header">Produkt ID</f:facet>
                #{o.id}
            </h:column>

            <h:column>
                <f:facet name="header">Pris</f:facet>
                #{o.price}
            </h:column>

            <h:column>
                <f:facet name="header">Billede</f:facet>
                #{o.url}
            </h:column>

            <h:column>
                <f:facet name="header">Beskrivelse</f:facet>
                <!--TODO: vi mangler at få itemdescription til at være html så vi kan udskrive det. -->
                #{o.itemDescription}
            </h:column>

            <h:column>
                <f:facet name="header">Antal</f:facet>
                #{o.stock}
            </h:column>

            <h:column>
                <f:facet name="header">Modify</f:facet>
                <h:form>
                <w:commandButton value="Modify" action="#{myBean.edit(o.id)}"/>
                </h:form>
            </h:column>

        </h:dataTable><br/><br/>

        Vi kan også modify nogle af itemsne, som vi vil gøre inde fra tabellen af.
        For nu kan man trykke på en knap nedenunder der fører til modifyItem siden.<br/><br/>

        <h:form>
            <w:commandButton value="Modify your item here" action="#{myBean.edit(51942)}"/>
        </h:form>

    </ui:define>


</ui:composition>
