<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <meta http-equiv="cache-control" content="no-store"/>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <title>Glamour Owner Interface</title>
</h:head>
<h:body>
    <h1>Glamour Owner Interface</h1>
    <ui:insert name="content" />
</h:body>
</html>
