<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:w="http://java.sun.com/jsf/html"
                template="template.xhtml">
    <ui:define name="content">

        <a href="https://services.brics.dk/java/dovs-auth/authorize?client_id=webtek&amp;redirect_uri=http://webtek.cs.au.dk/projects/au558645/dev/oauth-callback&amp;response_type=code ">Login via AU OAuth-Provider</a>

    </ui:define>
</ui:composition>