<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:w="http://java.sun.com/jsf/html"
                template="template.xhtml">
    <ui:define name="content">

        <!-- TODO:(måske slet funktion?) -->

        Her kan du modificere din item. Den sidste submit knap er kun til stock <br/>


        <!-- ModifyItem virker som den skal, og kan modificere items, hvis man angiver itemID.
        Men det vil vi gerne have bliver automatisk genereret, så det er ét bestemt item man redigerer.-->

        <!-- TODO: validering af itemDescription feltet så det er gyldig xml-->

        <h:form>
            Du er i gang med at ændre dit produkt med id #{myBean.id}. <br/>

            <h:outputLabel for="pName">Produkt Navn:</h:outputLabel>
            <h:inputText value="#{myBean.name}" id="pName"/>
            <br />
            <br />

            <h:outputLabel for="pPrice">Pris:</h:outputLabel>
            <h:inputText value="#{myBean.price}" id="pPrice" validatorMessage="Skriv et positivt heltal." converterMessage="Du skal skrive et tal.">
                <f:convertNumber integerOnly="true"/>
                <f:validateDoubleRange minimum="1"/>
            </h:inputText>
            <h:message errorStyle="color:red; display:block" for="pPrice" />
            <br />
            <br />

            <h:outputLabel for="pUrl">Billede:</h:outputLabel>
            <h:inputText value="#{myBean.url}" id="pUrl"/>
            <br />
            <br />

            <h:outputLabel for="pDes">Beskrivelse:</h:outputLabel>
            <h:inputText value="#{myBean.itemDescription}" id="pDes">
            </h:inputText>
            <!-- TODO: MANGLER VALIDERING -->
            <h:message for="pDes" errorStyle="color: red; display:block"/>

            <br/>
            <w:commandButton action="#{myBean.modify()}" value="Submit"/>
        </h:form>

        Edit Stock:
        <h:form>
            <h:inputText value="#{myBean.stock}" id="pStock" validatorMessage="Skriv et positivt heltal" converterMessage="Du skal skrive et tal.">
                <f:convertNumber integerOnly="true"/>
                <f:validateDoubleRange minimum="1"/>
            </h:inputText>
            <w:commandButton action="#{myBean.stock()}" value="Submit"/>
        </h:form>
        <h:form>
            <w:commandButton value="Cancel" action="#{myBean.back}"/>
        </h:form>
    </ui:define>
</ui:composition>